{{define "bpo-row-editable"}}
<tr>
  <td hidden><input form="bpo-{{.ID}}" name="id" type="number" value="{{.ID}}" disabled /></td>
  <td><input form="bpo-{{.ID}}" name="date" type="date" value="{{.ObservedAt.Time.Format `2006-01-02`}}" />
  </td>
  <td><input form="bpo-{{.ID}}" name="time" type="time" value="{{.ObservedAt.Time.Format `15:04`}}" step="60" /></td>
  <td><input form="bpo-{{.ID}}" name="irregular" type="checkbox" {{if .Irregular}}checked{{end}} /></td>
  <td><input form="bpo-{{.ID}}" name="systolic" type="number" value="{{.Systolic}}" /></td>
  <td><input form="bpo-{{.ID}}" name="diastolic" type="number" value="{{.Diastolic}}" /></td>
  <td><input form="bpo-{{.ID}}" name="pulse" type="number" value="{{.Pulse}}" /></td>
  <td><input form="bpo-{{.ID}}" name="comment" type="text" value="{{.Comment}}" /></td>
  <td class="action-col">
    <button aria-label="Save" class="secondary" form="bpo-{{.ID}}" type="submit"><i class="ti ti-check"></i></button>
    <button aria-label="Delete" class="secondary" form="bpo-{{.ID}}" type="submit" formaction="/{{.ID}}/delete"
      aria-label="delete"><i class="ti ti-trash"></i></button>
  </td>
</tr>
{{end}}

{{define "bpo-row"}}
<tr>
  <td hidden></td>
  <td>{{.ObservedAt.Time.Format `Mon. 02 January 2006`}}</td>
  <td>{{.ObservedAt.Time.Format `15:04`}}</td>
  <td>{{if .Irregular}}<i class="ti ti-bolt"></i>{{end}}</td>
  <td>{{.Systolic}}</td>
  <td>{{.Diastolic}}</td>
  <td>{{.Pulse}}</td>
  <td>{{.Comment}}</td>
  <td></td>
</tr>
{{end}}

<!doctype html>
<html lang="en-EN">

<head>
  <meta charset="utf-8" />
  <link rel="icon" href="data:,">
  <title>Blood Pressure</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
  <link rel="stylesheet" href="static/app.css">
  <script src="static/app.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont/tabler-icons.min.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <main class="container">
    <h1>Blood Pressure</h1>

    {{range .Bpos}}
    <form id="bpo-{{.ID}}" action="/{{.ID}}/update" method="post"></form>
    {{end}}

    <colgroup>
      <col class="id-col">
      <col class="date-col">
      <col class="time-col">
      <col class="irregular-col">
      <col class="systolic-col">
      <col class="diastolic-col">
      <col class="pulse-col">
      <col class="comment-col">
      <col class="action-col">
    </colgroup>
    <table>
      <thead>
        <tr>
          <th hidden>ID</th>
          <th>Date</th>
          <th>Time</th>
          <th aria-label="irregular heartbeat"><i class="ti ti-heart-bolt"></i></th>
          <th>Systolic</th>
          <th>Diastolic</th>
          <th>Pulse</th>
          <th>Comment</th>
          <th>
            {{if .Editable}}
            <a aria-label="action" href="/" role="button">CANCEL</a>
            {{else}}
            <a aria-label="action" href="/?editable=true" role="button">EDIT</a>
            {{end}}
          </th>
        </tr>
      </thead>
      <tbody>
        {{range .Bpos}}
        {{if $.Editable}}
        {{template "bpo-row-editable" .}}
        {{else}}
        {{template "bpo-row" .}}
        {{end}}
        {{end}}
      </tbody>
    </table>

    <button command="show-modal" commandfor="add-new-bpo-dialog" onclick="setDefaultDateTime()">ADD NEW</button>
    <dialog id="add-new-bpo-dialog" closedby="any">
      <article>
        <form id="bpo-new" action="/" method="post">
          <fieldset class="grid">
            <div>
              <label for="date">Date</label>
              <input id="bpo-new-date" name="date" type="date" />
            </div>
            <div>
              <label for="time">Time</label>
              <input id="bpo-new-time" name="time" type="time" step="60" />
            </div>
          </fieldset>
          <fieldset class="grid">
            <div>
              <label for="systolic">Systolic</label>
              <input name="systolic" type="number" />
            </div>
            <div>
              <label for="diastolic">Diastolic</label>
              <input name="diastolic" type="number" />
            </div>
            <div>
              <label for="pulse">Pulse</label>
              <input name="pulse" type="number" />
            </div>
          </fieldset>
          <fieldset>
            <input name="irregular" type="checkbox" />
            <i class="ti ti-heart-bolt"></i>
            <label for="irregular">Irregular heartbeat</label>
          </fieldset>
          <label for="comment">Comment</label>
          <textarea name="comment" type="text"></textarea>
          <button type="submit">CREATE</button>
        </form>
      </article>
    </dialog>
  </main>
</body>

</html>