td,
th {
  padding: 0.5rem 0.75rem;
}

input[type="checkbox"] {
  margin-bottom: var(--pico-spacing);
}

.date-col {
  width: 16rem;
}

.time-col {
  width: 16rem;
}

.systolic-col {
  width: 5rem;
}

.diastolic-col {
  width: 5rem;
}

.pulse-col {
  width: 5rem;
}

.action-col {
  display: flex;
  gap: 0.5rem;
}

/* backported from Tailwind*/
/* https://tailwindcss.com/ */
/* it's not really worth including whole tailwind just for a few classes */
/* but use it's classnames */
.w-100 {
  width: 100%
}

.float-right {
  float: right
}