@media (max-width:641px) {
  .hide-on-mobile {
    display: none
  }
}

/* backported from Tailwind*/
/* https://tailwindcss.com/ */
/* it's not really worth including whole tailwind just for a few classes */
/* but use it's classnames */
.w-100 {
  width: 100%
}

.float-right {
  float: right
}

.btn-action-row {
  display: flex;
  gap: 9.5px;
}

.grow-1 {
  flex-grow: 1;
}