{{define "bpo-row-editable"}}
<tr>
  <td hidden><input form="bpo-{{.ID}}" name="id" type="number" value="{{.ID}}" disabled /></td>
  <td><input form="bpo-{{.ID}}" name="date" type="date" value="{{.ObservedAt.Format `2006-01-02`}}" />
  </td>
  <td><input form="bpo-{{.ID}}" name="time" type="time" value="{{.ObservedAt.Format `15:04`}}" step="60" /></td>
  <td><input form="bpo-{{.ID}}" name="irregular" type="checkbox" {{if .Irregular}}checked{{end}} /></td>
  <td><input form="bpo-{{.ID}}" name="systolic" type="number" value="{{.Systolic}}" /></td>
  <td><input form="bpo-{{.ID}}" name="diastolic" type="number" value="{{.Diastolic}}" /></td>
  <td><input form="bpo-{{.ID}}" name="pulse" type="number" value="{{.Pulse}}" /></td>
  <td><input form="bpo-{{.ID}}" name="comment" type="text" value="{{.Comment}}" /></td>
  <td class="action-col">
    <button
       aria-label="Save"
       class="secondary"
       form="bpo-{{.ID}}"
       type="submit"
       hx-put="/{{.ID}}/"
       hx-target="closest tr"
       hx-swap="outerHTML">

      <i class="ti ti-check"></i>
    </button>
    <button
       aria-label="Delete"
       class="secondary"
       form="bpo-{{.ID}}"
       formaction="/{{.ID}}/delete"
       type="submit"
       hx-confirm="Are you sure?"
       hx-delete="/{{.ID}}"
       hx-target="closest tr"
       hx-swap="outerHTML">

      <i class="ti ti-trash"></i>
    </button>
  </td>
</tr>
{{end}}
