{{define "bpo-row"}}
<tr id="bpo-row-{{.ID}}">
  <td>{{.ObservedAt.Format `Mon. 02 January 2006`}}</td>
  <td>{{.ObservedAt.Format `15:04`}}</td>
  <td>{{if .Irregular}}<i class="ti ti-bolt"></i>{{end}}</td>
  <td>{{.Systolic}}</td>
  <td>{{.Diastolic}}</td>
  <td class="hide-on-mobile">{{.Pulse}}</td>
  <td class="hide-on-mobile">{{.Comment}}</td>
  <td>
    <button
       aria-label="Edit"
       class="secondary w-100"
       hx-get="/edit/{{.ID}}/"
       hx-target="#bpo-CRUD-dialog"
       hx-swap="innerHTML"
       hx-on::after-request="document.querySelector('#bpo-CRUD-dialog').showModal();">
      <i class="ti ti-edit"></i>
      <span class="hide-on-mobile">EDIT</span>
    </button>
  </td>
</tr>
{{end}}
