<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="icon" href="data:,">
  <title>Blood Pressure</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
  <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.10/dist/htmx.min.js"
    integrity="sha384-H5SrcfygHmAuTDZphMHqBJLc3FhssKjG7w/CeCpFReSfwBWDTKpkzPP8c+cLsK+V"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/static/app.css">
  <script src="/static/app.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont/tabler-icons.min.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <main class="container">

    <div>
      <h1>Blood Pressure</h1>

      <div class="float-right">
        <button class="secondary" command="show-modal" commandfor="import-dialog">IMPORT</button>
        <a class="secondary" role="button" href="/export">EXPORT</a>
      </div>
    </div>

    <colgroup>
      <col class="id-col">
      <col class="date-col">
      <col class="time-col">
      <col class="irregular-col">
      <col class="systolic-col">
      <col class="diastolic-col">
      <col class="pulse-col">
      <col class="comment-col">
      <col class="action-col">
    </colgroup>
    <table>
      <thead>
        <tr>
          <th hidden>ID</th>
          <th>Date</th>
          <th>Time</th>
          <th aria-label="irregular heartbeat"><i class="ti ti-heart-bolt"></i></th>
          <th>Systolic</th>
          <th>Diastolic</th>
          <th>Pulse</th>
          <th>Comment</th>
          <th>
          </th>
        </tr>
      </thead>
      <tbody>
        {{range .Bpos}}
        {{template "bpo-row" .}}
        {{end}}
      </tbody>
    </table>
    <button
       class="w-100"
       command="show-modal"
       commandfor="add-new-bpo-dialog"
       hx-get="/new"
       hx-target="#add-new-bpo-dialog"
       hx-swap="innerHTML"
       hx-on::after-request="setDefaultDateTime()">ADD NEW</button>
    <dialog id="add-new-bpo-dialog" closedby="any">
      <!-- dynamically filled via HTMX -->
    </dialog>

    <dialog id="import-dialog" closedby="any">
      <article>
        <form method="post" action="/import">
          <label for="import-csv">
            <b>Observations to Import</b>
          </label>
          <textarea id="import-csv" name="import-csv" rows="10" cols="30" placeholder="ObservedAt;Irregular Heartbeat;Systolic;Diastolic;Pulse;Comment
2026-07-09T22:41;false;9;8;7;Test1;
2026-07-09T11:18;false;1;2;1;Test2;"></textarea>
          <button type="submit">CREATE</button>
        </form>
      </article>
    </dialog>

  </main>
</body>

</html>
